@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brutal Type';
  src: url('/fonts/BrutalType/BrutalType-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('/fonts/BrutalType/BrutalType-Medium.otf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('/fonts/BrutalType/BrutalType-Bold.otf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('/fonts/BrutalType/BrutalType-ExtraBold.otf');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'Brutal Type', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 768px) {
  [data-aos] {
    transition: none !important;
    transform: none !important;
    animation: none !important;
  }
}

.vi * {
  font-family: 'Montserrat', sans-serif;
}
