/* Chrome, Safari, Edge, Opera */
.custom-input-number ::-webkit-outer-spin-button,
.custom-input-number ::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.custom-input-number [type='number'] {
  -moz-appearance: textfield;
}

.checkbox-terms:checked {
  padding: 4px;
  content: url('data:image/svg+xml; utf8,  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="black" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
}

/* <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg> */
/* <svg width="12" height="9" viewBox="0 0 12 9" fill="white" xmlns="http://www.w3.org/2000/svg"><path d="M3.99975 6.80086L1.66642 4.46753C1.40642 4.20753 0.993086 4.20753 0.733086 4.46753C0.473086 4.72753 0.473086 5.14086 0.733086 5.40086L3.52642 8.19419C3.78642 8.45419 4.20642 8.45419 4.46642 8.19419L11.5331 1.13419C11.7931 0.874192 11.7931 0.460859 11.5331 0.200859C11.2731 -0.0591406 10.8598 -0.0591406 10.5998 0.200859L3.99975 6.80086Z" fill="#081824"/></svg> */
